@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 7.6vh;
    background-color: #8865A7;
}


a {
    text-decoration: none;
}

.navbar {
    background-color: #FFAA53;
    height: 8.7vh;
    margin: 0 auto;
}

.navbar > a {
    padding: 4rem;

}

.main {
    margin: 2rem;
}

p {
    margin: 1rem 0;
}

